.card_container 
{
    position: relative;
    @extend .flex_center;
    width: 100%;
    height: 100vh;

    .card_wrapper 
    {
        position: relative;
        width: 425px;
        height: 720px;
        background: $dark-color;
    }
    .card_inner 
    {
        // background-color: #fff;
        width: 100%;
        height: 100%;
    }
    .card_header 
    {
        position: relative;
        &-cover 
        {
            width: 100%;
            img 
            {
                width: 100%;
            }
        }
        .qr_cod_scanner 
        {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
            cursor: pointer;
            .qrcode_scanner 
            {
                
            }
            &:hover svg
            {
                fill: red;
            }
        }
    }
}